.block {
  display: flex;
  margin: 52px 0;
  @media (max-width: 1024px) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 340px;
    height: 172px;
    justify-content: center;
    align-content: space-between;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 74px 0 0;
    @media (max-width: 1024px) {
      margin: 0 10px;
    }
    &:last-child {
      margin: 0;
    }
  }
}